<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <title>warcraft layout</title>
</head>
<body>
  <div>
    <ul>
      <li>
        <a href="lesson13-warcraft.html">warcraft</a>
        <a href="lesson13-litress.html">litress</a>
        <a href="lesson13-mdn.html">mdn</a>
      </li>
    </ul>
  </div>
  
  <header>
    <div class="logo">
      логотип
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        навигация
      </ul>
    </nav>
    <div class="header-search">
      иконка поиска
    </div>

    <div class="header-account">
      все что связанно с учётной записью
    </div>
  </header>

  <main>
    <section class="hero">
      <div class="hero-text">
        Мотивирующий текст сделать предзаказ
      </div>

      <div class="hero__last-news">
        Последние новости
      </div>
    </section>

    <section class="about-game">
      <div class="about-game__cards">
        секция с разметкой об игре
      </div>
    </section>
  </main>
  <footer>
    Наконец-то подвал
  </footer>
</body>