<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title> Ширина и высота - width и height</title>
</head>
<body>
  <div class="strech-div">
    гибкий_блокгибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блокгибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
    гибкий_блок
  </div>

  <div class="nostrech-div">
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
    Не_гибкий_блокНе_гибкий_блок
  </div>

  <div class="image">
    <p>сжали картинку с помощью css</p>
    <img src="https://dummyimage.com/600x400/000/fff.png" alt="">
  </div>
</body>
</html>