<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>формы</title>
</head>
<body>
  <form>
    <fieldset class="aboutMe form-content">
      <legend>Кто вы?</legend>
      <input type="text" name="firstname" id="" placeholder="Как вас зовут?" required>
      <input type="text" name="lasname" id="" placeholder="Ваша фамилия" required>
      <label for="dateYear">Выберите дату рождения</label>
      <input type="date" name="dateYear">
      <textarea id="" cols="30" rows="10" placeholder="Коротко расскажите, о своих навыках"></textarea>
      <textarea id="" cols="30" rows="10" placeholder="Коротко расскажите, о своём опыте работы"></textarea>
      <button type="reset" class="form-button">очистить</button>
    </fieldset>

    <fieldset class="contacts form-content">
      <legend>Ваши контакты</legend>
      <input type="tel:+7" name="number" id="" placeholder="Введите ваш номер телефона" required>
      <input type="email" name="mailk" id="" placeholder="введите вашу почту" required>
      <button type="reset" class="form-button">очистить</button>
    </fieldset>

    <button type="submit" class="form-button form-button_send">Отправить</button>
  </form>
</body>
</html>