<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <title>Текстовые элементы</title>
</head>
<body>
  <main>
      <div>
        <h1>Это самый главный заголовок на странице, он может быть один</h1>
        <h2>заголовок меньшего уровня важности</h2>
        <h3>заголовок меньшего уровня важности</h3>
        <h4>заголовок меньшего уровня важности</h4>
        <h5>заголовок меньшего уровня важности</h5>
        <h6>заголовок меньшего уровня важности</h6>
      </div>

      <div>
        <h3>Это теги параграфа, они используются для больших текстов</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore, quo enim
          ipsa optio sint voluptates dolor magnam
          neque explicabo ipsum odit esse error minus! Aspernatur repellendus quidem ipsum cumque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore, quo enim
          ipsa optio sint voluptates dolor magnam
          neque explicabo ipsum odit esse error minus! Aspernatur repellendus quidem ipsum cumque.
        </p>
      </div>

      <div>
        <h3>Это теги цитат их два:</h3>
        <ul>
          <li>
            <blockquote>blockquote - блочный тег с длинной цитатой</blockquote>
          </li>

          <li>
            <q>q- строчный тег с маленькой цитатой</q>
          </li>
        </ul>
      </div>
      <div>
        <h3>Оформление текста</h3>
        <div>
          <p>
            Конечной целью обучения, не должны быть деньги.
          </p>
          <p>
            Ведь, как сказал Джейсон Стейтем:
          </p>
          <div>
            <img src="13e9fd5d5a713d6c13c4b7ab19fa0d.jpeg" alt="Джейсон Стейтем">
            <br>
            <q>Сила – не в бабках. Ведь бабки – уже старые.</q>
          </div>
        </div>
      </div>
  </main> 

</body>
</html>