body{ 
  font-family: "Montserrat","Arial", sans-serif;
  line-height: 150%;
  color:#25282b;
  background: #f8fcff;
}

.container{
  width:1230px;
  margin: 0 auto;
  padding:0 15px;
  height:100%;
}