.body{
  display: flex;
  justify-content: center;
  gap: 5%;
}

.parent{
  background-color: aqua;
  width: 300px;
  height: 300px;
  padding:80px;
  margin: 0 auto
}

.child{
  background-color: rgb(27, 34, 34);
  width: 300px;
  height: 300px;
}