body{ 
  background-color: #181E34;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}

a{
  color: white;
}
.wrapper{
  width:80%;
  margin: 0 auto;

}
.header{
  padding: 30px 0px;
}
.wrapper_header{
  display: flex;
  justify-content: space-between;
}

.header-nav__list{
  display: flex;
  gap: 30px;
}

.header-nav__list__item_entery{
  padding: 14px 30px;
  border-radius: 100px;
  background-color: white;
  color: #2766AE;
}