.parrent{
  box-sizing: border-box;
  width: 80%;
  height: 500px;
  overflow-y: auto;
  border:1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding:10px 10px 100px;
}

.child{
  box-sizing: border-box;
  display: inline-block;
  width:300px;
  height:250px;
  overflow-y: scroll;
  background-color: #c59e6b;
  border:1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  inset: 0px 0px 10px 0px rgba(0,0,0,1);
  box-shadow: inset 3px 4px 10px #000;
  padding:30px;
  margin: 10px 5px;
}