body{
  background-color:#191919;
  color: white;
  font: 1em sans-serif;
}

.header{
  padding:50px;
}
.header-nav-list__item-logo{
  color: rgb(190, 109, 109);
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  border:3px solid #118DA8;
  border-radius: 20px;
  padding:10px;
  box-shadow: #118DA8 0px 0px 20px;
  transition: all .3s;
}

.header-nav-list__item-logo:hover{
  color: rgb(247, 90, 90);
  border-color:#575757;
  border-radius: 20px;
  box-shadow: #667e83 0px 0px 40px;
}
.header-nav-list{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  
}
.header-nav-our-list{
  display: flex;
  gap: 30px;
}
.header-nav-list__item__link{
  text-decoration: none;
  color: white
}


.header-nav-list__item__link:hover{
  transition: all .2s;
  color: #118DA8;
}

main{
  padding: 50px 100px;
}

.main-title{
  display: flex;
  align-items: center;
  gap:60px;
}



.main-title-text__link__icon-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap:17px;
}

.main-title-text__link__our-list{
  display: flex;
  gap: 17px;
}