<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>14 урок</title>
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
</head>
<body>
  <h1>Плагин эммет, комментарии, синтаксис html</h1>

  <div class="comments">
    <code>
      <! - в таком  виде записываються html комментарии, ошибку допустил специально, чтобы вывести его --! >
      <!-- html comments -->
    </code>
    <p>с помощью плагина emmet можно написать див через точку</p>
    <p>.какой-нибудь_класс</p>
  </div>
</body>
</html>