.footer{
  background: linear-gradient(120deg, rgba(192,163,209,1) 0%, rgba(187,61,197,1) 70%); /*Сделать нормальный градиент*/
  padding:50px;
  color:var(--other-text);
  display: flex;
  justify-content: center;
  
}

.footer__inner{

  flex-shrink: 0;
  max-width: 1300px;
  width:100%;


  display: grid;
  grid-template-columns:1.5fr .9fr .5fr .5fr .5fr;
  justify-items: center;
  gap:40px;
}

.footer__heading {
  font-size: 29px;
  line-height: 34px;
  margin-bottom: 18px;
}
.footer__сol{
}
.footer__сol-text:not(:last-child){
  font-size: 16px;
  margin-bottom: 30px;
}

.footer__field{
  width:100%;
  display: block;
  margin-bottom: 25px;
  position: relative;
}

.footer__field-input{
  padding:18px 14px 16px;
  border-radius: 10px;
  width:100%;
}
.footer__field-icon{
  position: absolute;
  top:12px;
  right:16px;
}
.footer__field-input::placeholder{
  color: #49464fcc;
}
.footer-list__item{
  white-space: nowrap;
}
.footer-list__item:first-child{
  color: #ffffff80;
}
.footer-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__social{
  grid-column: auto / -1;
  grid-row: auto / auto;
  justify-self: end;
}

.footer__social__list{
  display: flex;
  
  
}

.footer__social__list:last-child{
  align-self: flex-end;
}