<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>урок 92</title>
</head>
<body class="body">
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">Открыть список</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Открыть список</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Открыть список</a>
            </li>
          </ul>
        </nav>
        <ul class="header__autorization">
          <li class="social__item">
            <a href="#" class="autorization__link autorization__link--reg">Регистрация</a>
          </li>
          <li class="social__item">
            <a href="#" class="autorization__link autorization__link--void">Войти</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
<div class="modals">
  <div class="modal modal__register"> 
    <div class="modal__inner">
      <form class="modal__form">
        <label for="#">Придумайте логин</label>
        <input type="text">
      
        <label for="#">Придумайте пароль</label>
        <input type="password">
        <button>Зарегистрироваться</button>
      </form>
      <div class="modal__closed">
        &#x2717;
      </div>
    </div>
  </div>

  <div class="modal modal__autorization"> 
    <div class="modal__inner">
      <form class="modal__form">
        <input type="text" placeholder="введите логин">
        <input type="password" placeholder="введите пароль">
        <button>войти</button>
      </form>
      <div class="modal__closed">
        &#x2717;
      </div>
    </div>
  </div>

</div>
</body>
<script src="main.js"></script>
</html>