*{
  margin:0; 
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{ 
  background-color: #332f2a;
  height: 200vh;
}
a{
  text-decoration: none;
  color: rgb(247, 248, 240);

}
ul{
  list-style-type: none;
}
.container{
  width:80%;
  margin:0 auto;
}

.header {
  line-height: 1.5;
}
.header__inner {
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  padding:50px 0px;
}

.nav__list {
  display: flex;
  gap:10px 10px;
  flex-wrap: wrap;
}

.header__logo {
  max-width: 54px;
}
.header__autorization {
  justify-content: end;
  display: flex;
  gap:10px 30px;
  flex-wrap: wrap;
}

/* ======================================= */
.autorization__link,
.nav__link{
  padding:20px  20px;
  background-color: rgb(78, 83, 82);
  border-radius: 20px;
  transition: .3s all;
}


.nav__link:hover, .autorization__link:hover{
  color:#615050;
  background-color: rgb(16, 17, 17);
}
/* ====================================== */


/* Модальные окна */

.modal{
  letter-spacing: 1.3px;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color: #27303a;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
  opacity: 0;
  overflow: hidden;
  transition: .4s all;
}
/* ------------- */
.modal__inner{
  display: flex;
  align-items: center;
  justify-items: center;
  padding:40px;
  background-color: #3d3d3d;
  border-radius: 4px;
}
.modal__form{
  display: flex;
  flex-direction: column;
}
.modal__form{
  color:rgb(206, 196, 196);
  display: flex;
  align-items: center;
}
.modal__form > input{ 
  letter-spacing: 1.3px;
  padding:20px;
  width:300px;
  background-color: #241a1ab0;
  color:white;
  border:1px solid rgb(92, 79, 79);
  border-radius: 10px;
  

}

.modal__form > label{
  margin-bottom: 20px;
}
.modal__form > button{
  padding:20px;
  background-color: #4072ac;
  color: antiquewhite;
  border:1px solid transparent;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal__form > input:not(:last-child){
  margin-bottom: 40px;
}

.modal__closed{
  position: absolute;
  right:0;
  top:15%;
  right:20%;
  font-size: 40px;
  cursor: pointer;
}

/* модификаторы */

.modal--open{
  display: flex;
  opacity: 1;
  overflow: visible;
}

.body--scroll-lock{
  overflow-y: hidden;
}  


/* ----------- */