<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <title>Список задач</title>
</head>
<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .description{
    padding: 30px;
    background-color: #2d3b3a;
    text-align: center;
    color: white
  }
  .main-heading{
    text-transform: uppercase;
    letter-spacing: 3px;
  }
</style>
<body>
  <main>
    <div class="description">
      <h1 class="main-heading">Список дел</h1>
    </div>

    <section class="list">
      <ul>
        <li>Пройти курс Aroken по "веб-разработке"</li>
          <ol>
            <li>2. Верстка (HTML/CSS/JS)</li>
              <ol>
                <li>пройти 1 урок</li>
                <li>пройти 2 урок</li>
                <li>пройти 3 урок</li>
                <li>пройти 4 урок</li>
                <li>пройти 5 урок</li>
                <li>пройти 6 урок</li>
              </ol>
          </ol>
        <li>Выполнить первый заказ на фрилансе</li>
          <ol>
            <li>Выполнить правки по сайту на wordpress</li>
              <ol>
                <li>сделать 1 правку</li>
                <li>сделать 2 правку</li>
                <li>сделать 3 правку</li>
                <li>сделать 4 правку</li>
                <li>сделать 5 правку</li>
                <li>сделать 6 правку</li>
              </ol>
          </ol>
        <li>Приобрести мощный, красивый ноутбук</li>
          <ol>
            <li>подобрать модель ноутбука</li>
              <ol>
                <li>lenovo</li>
                <li>hp</li>
                <li>acer</li>
                <li>samsung</li>
                <li>packard bell</li>
                <li>huawei</li>
              </ol>
          </ol>

      </ul>
    </section>
  </main>

</body>
</html>