@font-face {
  font-family: 'roboto-regular';
  src: local('Roboto Regular'), local('Roboto-Regular'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'roboto-medium';
  src: local('Roboto Roboto-Medium.woff'), local('Roboto-Medium.woff'),
      url('../fonts/Roboto-Medium.woff') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
