body {
  font-family: "roboto-regular", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--main-text);
  background-color:#F5F5F7;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}
.body--scroll-lock{
  overflow: hidden;
}

.header{
  margin-bottom: 68px;
}

.main__accordion,
.main__subscription,
.main__city,
.main__support,
.main__deliver,
.main__products{
  margin-bottom: 141px;
}
.container{
  max-width:1100px;
  height:100%;
  padding:20px 20px;
  margin:0 auto;
}


.section-heading h2{
  font-size: 67px;
  line-height: 66px;
  margin-bottom: 27px;
}

.section-heading p{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
/* mobile header menu*/
.burger-button{
  display: none;
  cursor: pointer;
  height:50px;
  position: absolute;
  right:10%;
  z-index: 3;
  transition: var(--transition);
}

.burger-button__icon{
  display: none;
  position: relative;
  width:50px;
  height:5px;
  background-color: #101420;
}

.burger-button__icon::after,
.burger-button__icon::before{
  content: "";
  display: block;
  width:100%;
  height:5px;
  background-color: #101420;
  position: absolute;
}
.burger-button__icon::after{
  top:-12px;
}
.burger-button__icon::before{
  top:12px;
}

.modal{
  background-color: rgba(140, 114, 226, 0.8);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition:all .8s;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  inset: 0;
  z-index: 1;
}
.modal .header__link{
  color:#ece6e6;
}

.modal .header-nav__list{
  flex-direction:column;
  gap:30px;
  font-size: 30px;
}

.body--modal-open .modal{
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.body--modal-open .burger-button__icon{
  background-color: transparent;
  transition: var(--transition);
}
.body--modal-open .burger-button__icon::before,
.body--modal-open .burger-button__icon::after{
  top:0;
  bottom: 0;
}

.body--modal-open .burger-button__icon::before{
  transform: rotate(45deg);
}
.body--modal-open .burger-button__icon::after{
  transform: rotate(-45deg);
}

/* ------------------ */

/* get started button */
.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding:12px 50px;
  color:var(--other-text);
  background: #7140EB;
  border-radius: 50px;
  font-size: 18px;
  width:100%;

  white-space: nowrap;

  transition: all .4s;
}

.main-link:hover{
  background: #462b8a;
  color:#bbb6b6;
}

.main-link:active{
  background: #251b41;
  color:#757272;
}
/* ------------------ */

/* details button*/
.details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px;
  padding: 20px;
  border: 1px solid var(--main-text);
  border-radius: 50px;
  white-space: nowrap;
}

/* ------------------ */