@import url("fonts.css");
@import url("reset.css");
@import url("general.css");
@import url("template/header.css");
@import url("template/footer.css");
:root{
  --main-text:#2E2C34;
  --other-text:#e0dbdb;
  --hover-link:#bbb6b6;
  --active-link:#757272;
  --transition:all .4s;

}

/* deliver */

.deliver-heading{
  color: #49464F;
  font-size: 67px;
  line-height: 66px;
  margin-bottom: 71px;
}
.deliver__inner {
  display:flex;
  gap:90px;
}
.deliver__step {
  flex-shrink: 0;
}
.deliver__list {
  color: #49464F;
  font-size: 28px;
  line-height: 34px;
}
.deliver__list-item{
  margin-bottom: 24px;
}
.deliver__list-item:last-child{
  margin-bottom: 50px;
}

.deliver__main-link{
  max-width: 189px;
  margin-bottom: 24px;
}

.deliver__image{
  position: relative;
  width: 100%;
  right: 10px;
  max-height: 360px;
  height: 100%;
}
.deliver__image img{
  position: absolute;
  right:-10px;
  max-width: 100%;
}
/* -------------- */


/* products */

.products__top{
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.products__button,
.products__button path{
  transition:var(--transition);
}
.products__button:hover{
  background-color: var(--active-link);
  border-color: #7140EB;
}

.products__button:hover path{
  fill:#dbcfcf;
}

.products__nav {
  display: flex;
  gap:10px;
}
.products__button {
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--main-text);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:var(--transition);
}
.products__list__item{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.swiper-slide.products__list__item{
  border-radius: 16px;
  background: #FFF;
  padding:67px 24px 32px 24px;
}
.products__list__item img{
  max-width: 100%;
}

.products__list-price{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:26px;
  margin-bottom: 40px;
}
.products__list-price__discount{
  padding:7px 10px;
  border-radius: 20px;
  background: #F1EEF8;
  color: #7140EB;
}
.products__list-title__desc{
  font-size: 29px;
  margin-bottom: 10px;
}
.products__list-title__name{
  font-size: 18px;
}
.products__list-title{
  margin-bottom: 11px;
}

.products__details{
  flex-shrink: 0;
  max-width: 180px;
}
/* ------------- */

/* support */

.support__inner {
  display: flex;
  gap:17px;
}
.support__text {
  max-width: 426px;

}
.support__details{
  padding:12px;
  max-width: 180px;
  margin-top: 51px;
}



.support__img img{
  height:100%;
  max-width: 100%;
}

/* ------------- */

/* city */
.city{
  background: url("../images/content/city.jpg") 50% 50% / cover no-repeat;
  width:100%;
  height:100%;
  padding:150px 0;

  color:var(--other-text);
}

.city__inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
  justify-items: flex-end;
}
.city__heading h2{
  font-size: 62px;
}
.city__heading p{
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 29px;
}
.city__text{
  max-width: 320px;
}

.city__main-link{
  max-width: 189px;
  margin-bottom: 32px;
}

.city__list-item:last-child{
  line-height: 80px;
}

.city__list-item{
  font-size: 100px;
  letter-spacing: 5px;
  line-height: 111px;

}

/* ------------- */

/* subscription */
.subscription__inner {
  display: flex;
}

.subscription__section-heading{
  margin-bottom: 43px;
}

.subscription__desck-list{
  display: flex;
  flex-direction: column;
  gap:31px;
}

.subscription__list {
  display: flex;
  gap:16px;
}
.subscription__list__item {
  max-width: 334px;
  padding:32px 24px;
  border-radius: 16px;
  background: #F5F5F7;
}

.subscription__list__item img{
  max-width: 100%;
}

.subscription__list-price {
  margin-bottom: 38px;
}
.subscription__list-title {
  margin-bottom: 12px;
}

.main-link__subscription {
  max-width: 189px;
}
/* ------------- */

/* accordion */

.accordion__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:16px;
}
.accordion__text {
  max-width: 235px;
}

.accordion__details  {
  width:200px;
  padding:12px;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  gap:45px;
}

.accordion__list-item{
  max-width: 513px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  gap:20px;
  border:3px solid #101420;
  border-radius: 5px;
  padding:20px;
  transition:var(--transition);

}
.accordion__list-button {
  display: flex;
  gap:24px;
  align-items: center;
  cursor: pointer;
}
.accordion__list-icon::after,
.accordion__list-icon{
  transition:var(--transition);
  display: block;
  width:3px;
  height:18px;
  background-color: #101420;
}
.accordion__list-icon::after{
  content:"";
  transform:rotate(90deg);
}

.accordion__list-text{
  margin-left: 24px;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  height: 0;
  transition:var(--transition);
}
.accordion__list-item--active .accordion__list-icon{
  transform:rotate(-35deg);
}
.accordion__list-item--active .accordion__list-icon::after{
  transform:rotate(70deg);
}

.accordion__list-item--active .accordion__list-text{
  opacity: 1;
  visibility: visible;
  height: 200px;
}
/* ------------ */

/* testimonials */
.testimonials {
  margin-bottom: 86px;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  gap:100px;
}

.testimonials__list {
  display: flex;
  justify-content: space-between;
  justify-items: start;
  gap:20px;
}
.testimonials__list-item {

  max-width: 246px;
}

.testimonials__list-item p{
  margin-bottom: 19px;
  line-height: 28.7px;
  font-size: 20px;
}
.testimonials__list-name {
  font-size: 17px;
  line-height: 24px;
}

/* ------------ */


@media(max-width:1200px) {
  /* deliver */
  .deliver__inner{
    flex-direction: column;
    
  }

  .deliver__list{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap:48px;
  }
  .deliver__main-link{
    max-width:50%;
  }
  .deliver__image{
    display: flex;
    justify-content: end;
  }
  .deliver__image img{
    position: static;
    right:0;
  }
}
@media(max-width:1000px){
  /* section-heading */
  .section-heading h2{
    font-size: 57px;
    /* line-height: 66px;
    margin-bottom: 27px; */
  }

  .products__top{
    display: flex;
    align-items:start; 
    flex-direction: column;
  }

  .products__nav{
    align-self: end;
  }
  /* ================ */
  /* support */
  .support__inner{
    flex-direction: column;
    justify-content: center;
  }
  .support__text{
    max-width:none;
  }
  /* ================ */

  /* accordion */
  .accordion__inner {
    align-items: start;
  }
  .accordion__text {
    max-width: 500px;
  }
  /* ================ */

  /* city */
  .city__list-item{
    font-size: 80px;
    line-height: 80px;
  }
  /* ================ */

  /* subscription */

  .subscription__inner {
    flex-direction: column;
  }

  .subscription__list{
    /* align-self: center; */
    justify-content: space-evenly;
  }
  /* ================ */

  /* footer */
  .footer__inner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    gap:30px;
  }

  .footer-list{
    text-align: center;
  }
  .footer__сol--first{
    grid-column: 1 / -1;
  }
  /* ================ */

}
@media(max-width:800px){

  .section-heading h2{
    font-size: 50px;
    /* line-height: 66px;
    margin-bottom: 27px; */
  }
  
  .section-heading p{
    font-size: 22px;
    /* line-height: 24px;
    margin-bottom: 10px; */
  }


  .subscription__list{
    flex-wrap: wrap;
  }
  /* accordion */
  .accordion__inner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
  }
  .accordion__text {
    max-width:none;
    align-self: center;
  }

  .accordion__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ================ */

  /* testimonials */
  .testimonials__list {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:80px;
  }
  /* ================ */

  
}
@media (max-width:700px){
  /* header */
  .header__logo{
    z-index: 3;
  }
  .header-nav{
    display: none;
  }
  .hero__heading{
    max-width:none;
    font-size: 60px;
    line-height: 70.192px;
    text-align: center;
  }

  .burger-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-button__icon{
    display: block;
  }
  /* ================ */

  /* deliver */
  .deliver{
    padding:0px;
  }
  .deliver__list{
    grid-template-columns:repeat(2,1fr);
    justify-content: center;
    column-gap:48px;
  }

  .deliver-heading {
    font-size: 50px;
  }

  /* ================ */

   /* city */
   .city__list-item{
    font-size: 60px;
  }
  /* ================ */

}
@media (max-width:600px){
  /* header */
  .hero__heading{
    font-size: 50px;
  }
  .hero__text{
    display: flex;
    flex-direction: column;
  }
  
  .hero__text p{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .hero__text p:last-child{
    margin-bottom: 0;
  }

  /* ================ */
  /* deliver */

  .deliver-heading{
    font-size: 35px;
    line-height:normal;
  }
  .deliver__list{
    grid-template-columns:none;
    justify-content: start;
    column-gap:48px;
  }

  .deliver__list-item{
    font-size: 17px;
  }

  /* ================ */
  /* support */
  .section-heading__support h2{
    font-size: 50px;
  }
  /* ================ */
  /* city */
  .city{
    padding:100px 0px;
    background-position: 40% 60%;
  }
  .city__inner{
    display: flex;
    flex-direction: column;
    gap:70px;
  }
  .city__heading p{
    margin-bottom: 10px;
  }
  .city__text{

    max-width: none;
  }
  .city__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
  }

  .city__list-item{
    font-size: 60px;
    line-height: 40px;
  }

  .city__list-item:last-child{
    line-height:30px;
  }
  /* ================ */

  /* subscription */

  .subscription__inner {
    flex-direction: column;
  }

  .subscription__list{
    flex-direction: column;
  }
  /* ================ */

  .section-heading h2 {
    font-size: 40px;
    line-height: 50px;
}

}

@media (max-width:450px) {
  /* header */
  .header-top{
    padding:15px 20px;
  }

  .hero__heading{
    font-size: 40px;
    line-height: 60px;
  }

  .section-heading h2{
    font-size: 30px;
  }
  /* ================ */

  /* products */
  .products__list-price{
    font-size: 17px;
  }
  .products__details{
    padding: 10px;
  }
  /* ================ */

  /* deliver */
  .deliver-heading{
    margin-bottom: 30px;
    font-size: 40px;
  }

  .deliver-heading {
    font-size: 35px;
  }


  .deliver__image{
    display: none;
  }
  /* =============== */

  /* support */

  .section-heading__support h2{
    font-size: 40px;
    line-height: 40px;
  }
  .support__img img{
    display: none;
  }
  /* =============== */

  /* footer */
  .footer{
    padding: 20px;
  }
  .footer__inner{
    grid-template-columns:.5fr .5fr;
    align-items: baseline;
    justify-items: stretch;
    justify-content: center;
  }

  .footer-list__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-list__item{
    white-space:wrap;
  }
  /* ================ */
  
}

@media (max-width:320px){
  .container{
    padding:20px;
  }
  /* hero */
  .hero__heading{
    font-size: 30px;
    line-height: 50px;
  }

  /* ==================== */
  .section-heading__support h2{
    font-size: 30px;
  }
  /* deliver */
  .deliver__list-item:last-child{
    margin-bottom: 24px;
  }
  /* =============== */
}