@import url("fonts.css");
@import url("reset.css");
@import url("general.css");
@import url("template/header.css");
@import url("template/footer.css");
:root{
  --main-text:#2E2C34;
  --other-text:#e0dbdb;
  --hover-link:#bbb6b6;
  --active-link:#757272;
  --transition:all .4s;

}


@media(max-width:1000px){
  .footer__inner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    gap:30px;
  }

  .footer-list{
    text-align: center;
  }
  .footer__сol--first{
    grid-column: 1 / -1;
  }

}
@media (max-width:700px){
  .header__logo{
    z-index: 3;
  }
  .header-nav{
    display: none;
  }
  .hero__heading{
    max-width: 350px;
    font-size: 80px;
  }

  .burger-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-button__icon{
    display: block;
  }
}

@media (max-width:450px) {
  .footer{
    padding: 20px;
  }
  .footer__inner{
    grid-template-columns:.5fr .5fr;
    align-items: baseline;
    justify-items: stretch;
  }


  .hero__heading{
    max-width: 350px;
    font-size: 60px;
    line-height:70px;
  }

  .hero__text{
    font-size: 26px;
    margin-bottom:20px;
  }

  .hero__text__paragraph{
    margin-bottom:10px;
  }
  
}

@media (max-width:320px){
  .hero__text__paragraph{
    margin-bottom:20px;
  }
}