<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Псевдоклассы</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="logo.svg" alt="логотип">
        </div>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item"> 
              <a href="#">ссылка</a>
            </li>
  
            <li class="header__item"> 
              <a href="#">ссылка</a>
            </li>
  
            <li class="header__item"> 
              <a href="#">ссылка</a>
            </li>
  
            <li class="header__item"> 
              <a href="#">ссылка</a>
            </li>
  
            <li class="header__item"> 
              <a href="#">ссылка</a>
            </li>
          </ul>
        </nav>

        <nav class="header__user-nav">
          <button>войти</button>
          <button>зарегистрироваться</button>
        </nav>
      </div>
      
    </div>
  </header>
  <main>

  </main>
  <footer class="footer">
    подвал
  </footer>
</body>
</html>