.footer {
  background-color: #AB8261;
  color:var(--body-color);
  padding:60px 0 60px;
}

.footer__inner {
  display: grid;
  grid-template-columns:.9fr .9fr 1.1fr auto;
  justify-content: space-between;
  gap:15px
}

.footer__col:first-child {
  margin-top: -30px;
}
.footer__logo {
  
}

.footer__col-list {

  
}
.footer__col-list__item {
  margin-bottom: 20px;
}


.footer__col-list__item:last-child{
  margin-bottom: 0px;
}
.footer__col__link{
  padding:5px;
  position: relative;
  z-index: 1;
}


.footer__col__link::before{
  content: '';
  display: block;
  width:34px;
  height:34px;
  position: absolute;
  top:-8px;
  left:-13px;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: var(--transition);
}

.footer__col__link:hover::before{
  opacity: 1;
}


.footer__contacts__list {

}
.footer-contacts__item {
  margin-bottom: 10px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0px;
}

.footer-col-tel {
  font-weight: 500;
  line-height: 160%;
  font-size: 24px;

}

.footer__col-tel{
  margin-bottom: 47px;
}
.footer__col-copy {
  color: #DEC5B1;
}

.footer__desc{
  margin-bottom: 20px;
}
.social {
}
.social-list {
  display: flex;
  gap:15px;
}
.social__link path{
  transition: var(--transition);
}
.social__link:hover path{
  fill:var(--accent-color);
}