body {
  font-family: "Montserrat", sans-serif;
  color:var( --general-text);
  background-color: var(--body-color);
  line-height: 1.5;
  font-size: 16px;
}


.title{

  color:#1F1711;
  font-family: Gabriola;
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
  line-height: 82%;
}

.wrapper {
  min-height: 100%;
  width:100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}

.header__hero{
  margin: 50px 0 140px 0;

}
.header,
.main__about,
.main__programm,
.main__gallery,
.main__testimonials{
  margin-bottom:140px;
}


.container{
  max-width:1310px;
  height:100%;
  padding:0 15px;
  margin:0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: var(--accent-color);
  border-radius: 60px;
  transition: var(--transition);

  width:100%;
}


.button:hover{
  background-color:#FF9138;
}

/* =========================================================== */
.burger-icon{
  display: none;
}
.burger-icon a{
  display: flex;
  justify-content: center;
  align-items: center;

  width:70px;
  height:50px;
}
.burger-icon span,
.burger-icon span::before, 
.burger-icon span::after{
  content:"";
  display: block;
  width:40px;
  height:5px;
  background-color: var(--general-text);
  position: absolute;
  transition: var(--transition);
}

.burger-icon span{
  position: relative;
}

.burger-icon span::before{
  top:-10px;
}
.burger-icon span::after{
  bottom:-10px;
}

.body--scroll-lock{
  overflow: hidden;
}
.body--open-list{
  overflow: hidden;
}
.body--open-list .burger-icon span{
  background: transparent;
}
.body--open-list .burger-icon span::before,
.body--open-list .burger-icon span::after{
  top:0;
  bottom: 0;
}

.body--open-list .burger-icon span::before{
  transform: rotate(45deg);
}
.body--open-list .burger-icon span::after{
  transform: rotate(-45deg);
}


.body--open-modal .modal{
  visibility: visible;
  opacity: 1;


}
.modal__window {
  background-color: var(--body-color);
  padding:0 60px 60px;
  max-width: 428px;

  position: relative;
}
.modal__closed {
  position: absolute;
  right:20px;
  top:20px;
  transition: var(--transition);
  padding:10px;
  z-index: 1;
}
.modal__closed svg{
  z-index: 0;
}
.modal__closed:hover path{
  transition: var(--transition);
}

.modal__closed:hover path,
.modal__closed:hover rect{
  stroke:#AC907A;
}
.modal__cupcake {
  margin-top: -65px;
  margin-left:13px;
  margin-bottom: 15px;
  max-width: 100%;
}
.modal__heading {
  color:  #1F1711;
  font-family: Gabriola;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: .9;

  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}
.field{
  position: relative;
}
.field__input{
  padding:19px 41px 20px 19px;
  border: 1px solid #AC907A;
  width:100%;
  color: #AC907A;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  border-radius:var(--brd-radius);
  margin-bottom: 10px;
  transition: var(--transition);
}
.field span{
  color: #AC907A;
  position: absolute;
  top: -12px;
  left: 21px;
  font-size: 11px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  transition: var(--transition);
}

.field__input:hover{
  border:1px solid #FFA55C;
  color:#FFA55C;
}

.field__input:hover::placeholder{
  color:#FFA55C;
  transition: var(--transition);
}
.field__input:focus::placeholder{
  opacity: 0;
  visibility: hidden;
}
.field__input:focus{
  padding:26px 41px 21px 19px;
}
.field__input:focus + span{
  visibility: visible;
  opacity: 1;
}