:root{
  --general-text:#312C27;
  --body-color: #FFF9F4;
  --accent-color: #ffa55c;
}

body {
  font-family: "Montserrat", sans-serif;
  color:var( --general-text);
  background-color: var(--body-color);
  line-height: 1.5;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width:100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.container{
  max-width:1310px;
  height:100%;
  padding:0 15px;
  margin:0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: var(--accent-color);
  border-radius: 60px;
  transition: all .4s;
}


.button:hover{
  background-color:#FF9138;
}

/* =========================================================== */
.burger-icon{
  display: none;
}
.burger-icon a{
  display: flex;
  justify-content: center;
  align-items: center;

  width:70px;
  height:50px;
}
.burger-icon span,
.burger-icon span::before, 
.burger-icon span::after{
  content:"";
  display: block;
  width:40px;
  height:5px;
  background-color: var(--general-text);
  position: absolute;
  transition: all .4s;
}

.burger-icon span{
  position: relative;
}

.burger-icon span::before{
  top:-10px;
}
.burger-icon span::after{
  bottom:-10px;
}
.body--open-list{
  overflow: hidden;
}
.body--open-list .burger-icon span{
  background: transparent;
}
.body--open-list .burger-icon span::before,
.body--open-list .burger-icon span::after{
  top:0;
  bottom: 0;
}

.body--open-list .burger-icon span::before{
  transform: rotate(45deg);
}
.body--open-list .burger-icon span::after{
  transform: rotate(-45deg);
}

/* ========================================================== */
.header{
  background: url("../img/decor/background-header.jpg") 50% 100% / cover no-repeat;
}
.header__top {
  padding-top: 30px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__logo{ 
  max-width: 174px;
  z-index: 11;
}

.nav__list {
  display: flex;
  gap:4vh 40px;
}

.nav__link {
  padding: 5px 0;
  position: relative;
  z-index: 1;
}


.nav__link::before{
  content: '';
  display: block;
  width:34px;
  height:34px;
  position: absolute;
  top:-8px;
  left:-13px;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0;
  transition: all .4s;
}

.nav__link:hover::before{
  opacity: 1;
}

/* ===================================== */

.hero {
  margin: 50px 0 140px 0
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap:30px;
}
.hero__content {
  max-width: 507px;
}
.hero__info{
  color: #B197B2;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero__info span{
  display: flex;
  align-items: center;
}
.hero__info span:not(:last-child)::after {
  content:'';
  display: block;
  background-color:#B197B2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin:0 10px 0 10px;
}
.hero__title {
  color:#1F1711;
  font-family: Gabriola;
  font-size: 74px;
  font-style: normal;
  font-weight: 400;
  line-height: 82%;
  margin-bottom: 30px;
}

.hero__text{
  margin-bottom: 40px;
  max-width: 352px;
}
.hero__button{
  max-width: 352px;
}
.hero__img {
  margin-right: 247px;
  position: relative;
}

.hero__img-control {
  position: absolute;
  bottom: 10%;
  left: calc(100% - 39px);
  max-width: 200px;
  display: flex;
  text-align-last: left;
}

.hero__img-button{
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  width: 78px;
  height: 78px;
  background-color:#FFE0CB;
  position: relative;
}

.hero__img-button img{
  padding: 5px;
}

.hero__img-button::before{
  content: "";
  display: block;
  position: absolute;
  inset:5px;
  border-radius: 50%;
  border:1px solid var(--accent-color);
  opacity: 0;

  transition: all .4s;
}


.hero__img-button:hover::before{
  opacity: 1;
}

.footer {
  background-color: #AB8261;
  color:var(--body-color);
  padding:30px 0 60px;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.footer__col {
}
.footer__logo {

}
.footer__desc{
}

.footer__col-list {
}
.footer__col-list__item {
  
}

.footer__col__link{
}
.footer__contacts__list {

}
.footer-contacts__item {

}

.footer-contacts__item:last-child {
}

.footer__col-tel {
}
.footer-col-tel {
}
.footer__col-copy {
}


.social {
}
.social-list {
}
.social-list__item {
}


/* ==================================================== */
/* ==================================================== */
@media(max-width:1200px){

  .hero {
    margin: 50px 50px 50px 50px;
  }

  .hero__img {
    margin-right: 0;
    position: relative;
  }

  .hero__img > img{
    max-width: 100%;
  }


  .hero__img-control {
    position: static;
    max-width:377px;
    display: flex;
    align-items:center;
    gap:10px;
    margin-top:30px;
  }

}

.hero__img-control--mobile{
  display: none;
}


@media (max-width:900px) {
  .header-nav{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--body-color);
    padding: 26vh 15px 30px;
    transition: all .4s;
    transform: translateY(-50%);
  }
  
  .body--open-list .header-nav{
    visibility: visible;
    opacity: 1;

    transform: translateY(0%);
  }
  .nav__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-icon{
    display: block;
    z-index: 11;
  }
}


@media (max-width:800px){
  .hero__inner{
    display: flex;
    flex-direction: column;
  }

  .hero__content{
    max-width: none;
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
  }
  .hero__img{
    display: none;
  }
  .hero__img-control--mobile{
    display: flex;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .hero__button--mobile{
    width: 100%;
  }
}

@media (max-width:600px){
  .hero{
    margin: 0;
  }
  .hero__title{
    font-size: 12vw;
  }

  .hero__text{
    max-width: none;
  }
}