@import url("reset.css");
@import url("stylesheet.css");
@import url("global.css");
@import url("header.css");
@import url("footer.css");
:root{
  --general-text:#312C27;
  --body-color: #FFF9F4;
  --accent-color: #ffa55c;
  --transition:all .4s;
  --brd-radius:20px;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* ===================================== */

.modal {
  background: #00000048;
  position: fixed;
  top:0;
  inset: 0;
  z-index: 13;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;

  visibility: hidden;
  opacity: 0;

  transition:all .6s;
}

/* ========================================== */

.about__inner {
  display: grid;
  grid-template-columns:1fr 1.05fr;
  grid-template-rows: repeat(2,auto);
  gap:40px 50px;
}
.about__img {
  border-radius:var(--brd-radius);
  overflow: hidden;
  position: relative;

  grid-row: 1 / -1;

  grid-column-start: 1;
}


.about--heading{
  margin-bottom: 30px;
}

.about__content{
  grid-column-start: 2;
  grid-column-end: 3;

}
.about__img__photo{
  width:100%;
  height:100%;
  object-fit: cover;
  background-position: 0 50%;
}
.about__img-control{
  display: flex;
  gap:10px;
  background: rgba(149, 123, 151, 0.90);
  color:var(--body-color);
  max-width: 300px;
  border-radius:var(--brd-radius);
  padding: 15px 20px;
  position: absolute;
  left: 4%;
  bottom: 5%;

}

.about__img-button{
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  width: 78px;
  height: 78px;
  background-color:var(--body-color);
  position: relative;
}

.about__img-button img{
  padding: 5px;
}

.about__img-button::before{
  content: "";
  display: block;
  position: absolute;
  inset:5px;
  border-radius: 50%;
  border:1px solid #CEAAD0;
  opacity: 0;

  transition: var(--transition);
}

.about__img-button:hover::before{
  opacity: 1;
}


.heading-desc {
  margin-bottom: 30px;
}
.about__text {
  margin-bottom: 40px;
}
.about__content-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:32px;
}
.about__content__item {
  border-radius:var(--brd-radius);
  background: #FFE0CB;
  padding:29px 20px;

  display: flex;
  align-items: center;
  gap:15px;

}
.about__content__item__icon {
  border:1px solid #312C27;
  border-radius: 50%;
  width:60px;
  height:60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ========================================== */

.programm-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.programm-title{
  margin-bottom: 20px;
}
.programm__tab-controls {
  display: flex;
  align-items: flex-end;
}
.tab-controls__list {
  display: flex;
  gap:26px;
  flex-wrap: wrap;
}

.tab-controls__link{
  display: block;
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.30);
  border-radius: 100px;
  padding:14px 30px;

  transition:var(--transition);
}

.tab-controls__link:hover{
  background:#FFE0CB;
  box-shadow:none;
}

.tab-controls__link--active{
  background:#FFE0CB;
}
.program__tab-content{
  margin-bottom: 40px;
}
.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

.accordion-list__item {
  border: 1px solid var(--accent-color);
  border-radius: var(--brd-radius);

  margin-bottom: 30px;
}

.accordion-list__item:last-child {
  margin-bottom: 0;
}

.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;
  text-align: left;

  display: flex;
  justify-content: space-between;
  gap: 15px;

  font-family: 'Gabriola';
  font-size: 42px;
  line-height: 90%;
  color: var(--accent-text);
  transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-list__control-icon {
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition);
}
.accordion-list__control-icon svg {
  margin-left: 2px;
}

.accordion-list__control-icon path {
  transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--body-color);
}

.accordion-list__item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
  fill: var(--body-color);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  text-transform: uppercase;
  line-height: 1.6;
  color: #CEAAD0;
  margin-bottom: 20px;
}


.accordion-content__item {
  margin-bottom: 20px;
  display: flex;
}

.accordion-content__item:last-child {
  margin-bottom: 0;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: 1px solid #CEAAD0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-shrink: 0;
}

.accordion-content__text {
  max-width: 274px;
}


.programm__bottom {
  display: flex;
  justify-content: space-between;
}
.programm__action {
  flex-shrink: 0;
  max-width: 501px;
  display: grid;
  grid-template-columns:1.30fr 1fr;
  grid-template-rows:repeat(4,1fr);
  gap:40px;
}
.programm__discount {
  font-size: 20px;
  padding:40px;
  border-radius:var(--brd-radius);
  background:#FFE0CB;
  grid-row: 1/3;
}
.programm__discount span{
  margin-left: 34%;
}
.programm__discount-value {
  color: var(--accent-color);
  text-align: center;
  font-family: Gabriola;
  font-size: 74px;
  font-weight: 400;
  line-height: 82%;
  margin-bottom: 7px;
  transform-origin: 0 0;

  animation: discount-grow .8s   linear infinite alternate;
}



@keyframes discount-grow {
  0%{
    transform:scale(1);

  }
  100%{
    transform:translateY(4%) scale(1.1);
    color: #FF9138;
  }
  
}
.programm__price-text {
  color:#CEAAD0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-transform: uppercase;
}
.programm__price-value {
  color: #312C27;
  font-family: Gabriola;
  font-size: 20px;
  font-weight: 400;
  line-height: .9;
}
.programm__price-value--big{
  font-size: 50px;
}

.programm__button{
 grid-column: 1 / -1;
}
.programm__image img {
  width:100%;
}


/* ========================================== */
.gallery__top {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:32px;
  justify-content: center;
  margin-bottom: 40px;

}
.gallery__image{
justify-self: center;
}
.gallery__image img{
  max-width: 100%;
}
.gallery__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.gallery__text {
  max-width: 380px;
}
.gallery__title {
  margin-bottom: 20px;
}

.gallery__nav {
  display: flex;
  gap:98px;
  position: relative;
  color:#312C27;
  font-family: Gabriola;
  font-size: 42px;
  line-height: .9;
}
.gallery__pagination{
  display:flex;

  /* Чтобы кнопки не прыгали при смене текста */
  position: absolute;
  top:50%;
  left:50%;
  bottom:auto;
  width:auto;
  transform: translate(-50%, -50%);
  /* ---------------------------------------- */

}

.gallery__button,
.gallery__button path{
  transition:var(--transition);
}

.gallery__button{
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:var(--transition);
}
.gallery__button:hover{
  background-color: var(--accent-color);
}

.gallery__button:hover path{
  fill: var(--body-color);
}
.gallery__slide img{
  max-width: 100%;
  border-radius: 20px;
}

.swiper-button-disabled.gallery__button{
  border-color: #E1D9E1;
}
.swiper-button-disabled.gallery__button path{
  fill:#E1D9E1;
}
/* ==================================================== */
.products__wrapper{
  
}
.testimonials__top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
}
.testimonials__text {
  max-width: 632px;
}
.testimonials__title {
  margin-bottom: 40px;
}


.testimonials__nav {
  display: flex;
  gap:30px;
  position: relative;
}
.testimonials__button,
.gallery__button path{
  transition:var(--transition);
}

.testimonials__button{
  width: 36px;
  height: 36px;
  border: 1.5px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:var(--transition);
}
.testimonials__button:hover{
  background-color: var(--accent-color);
}

.testimonials__button:hover path{
  fill: var(--body-color);
}
.swiper-button-disabled.testimonials__button{
  border-color: #E1D9E1;
}
.swiper-button-disabled.testimonials__button path{
  fill:#E1D9E1;
}
.testimonials__swiper{
  overflow: visible;
}
.testimonials__slide{
  border-radius: 20px;
  background:#FFE0CB;
  padding:30px 30px 40px;
}


.testimonials__slide.swiper-slide-prev,
.testimonials__slide.swiper-slide-next{
  opacity: 0.5;
  transform: scale(.9);
}

.testimonials__student {
  display: flex;
  gap:30px;
}
.testimonials__photo {
  width:100%;
  max-width: 165px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.testimonials__photo img{
  width: 100%;
  border-radius: var(--brd-radius);
}

.testimonials__student-info {
  text-align: center;
  color:#ceaad0;
}
.testimonials__student-name {
  line-height: 160%;
  text-transform: uppercase;

}
.testimonials__student-inst {
  display: flex;
}

.testimonials__student-inst img{
  width:24px;
  height:24px;
}

.testimonials__quote {
  color: #1F1711;
  font-family: Gabriola;
  font-size: 32px;

  line-height: .9;
  margin-bottom: 10px;


}
.testimonials__scrollbar{
  background-color: #FFE0CB;
}
.testimonials__scrollbar.swiper-scrollbar{
  position: static;
  width:100%;

  margin-top: 40px;
  height: 7px;
}

.swiper-scrollbar-drag{
  background-color: var(--accent-color);

}

/* ====================================================*/

.contact {
  padding: 140px 0;
  background: url("../img/decor/bg-contact.png") 50% 0% / cover no-repeat;
}
.contact__inner {
  display: flex;
  align-items: end;
  gap: 84px;
  position: relative;
}
.contact__inner::before {
  content: url("../img/decor/berries.png");
  position: absolute;
  top: -4%;
  left: 0;
}
.contact__inner::after {
  content: url("../img/decor/berries-2.png");
  position: absolute;
  top: 4%;
  right: 0;
}
.contact__img img {
  width: 100%;
  filter: drop-shadow(0px 4px 30px #c6b0a14d);
}
.contact__body {
  max-width: 420px;
}
.contact__title {
  margin-bottom: 20px;
}
.contact__text {
  margin-bottom: 40px;
}
.contact__form {
}
.contact__label {
  margin-bottom: 10px;
}
.contact__input {
  display: block;
  width: 100%;
  background: #00000000;
  border: 1px solid #AC907A;
  border-radius:var(--brd-radius);
  padding: 19px 42px 19px 28px;
  font-size: 16px;
  transition: var(--transition);
  margin-bottom: 20px;
}

.contact__input:hover {
  border-color: var(--accent-color);
}

.contact__input::placeholder {
  color: #AC907A;
  transition: var(--transition);
}

.contact__input:hover::placeholder {
  color: var(--accent-color);
}

.contact__check-label {
  display: flex;
  align-items: start;
  gap: 5px;
  max-width: 288px;
  font-size: 13px;
  margin-bottom: 20px;
}
.contact__check-label a {
  text-decoration: underline;
  transition: var(--transition);
}
.contact__check-label a:hover {
  color: var(--accent-color);
}
.contact__checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #AC907A;
  transition: var(--transition);
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}
.contact__checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("../img/icons/check.svg") 50% 50% no-repeat;
  opacity: 0;
  transition: var(--transition);
}
.contact__checkbox:hover {
  border: 1.5px solid var(--accent-color);
}
.contact__checkbox:checked {
  background: var(--accent-color);
  border: 1.5px solid var(--accent-color);
}
.contact__checkbox:checked::before {
  opacity: 1;
}




@media(max-width:1200px){
  .hero {
    margin: 50px 50px 50px 50px;
  }

  .hero__img {
    margin-right: 0;
    position: relative;
  }

  .hero__img > img{
    max-width: 100%;
  }


  .hero__img-control {
    position: static;
    max-width:377px;
    display: flex;
    align-items:center;
    gap:10px;
    margin-top:30px;
  }
  /* ============================================= */
  .programm-top {

    gap: 35px;
    flex-direction: column;
    margin-bottom: 40px;
    align-items:stretch;
  }

  .accordion-content{
    gap:40px;
  }


  .tab-controls__link{
    padding:14px 15px;
  }

  .programm__bottom{
    justify-content: center;
  }
  .programm__image{
    display: none;
  }

  .programm__action{
    flex-shrink: 1;
    max-width: none;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);
    
  }

  .programm__discount{
    text-align: center;
    grid-column: 1/-1;
  }
  
  /* ============================================= */
  .contact__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__inner::before{
    display: none;
  }
  .contact__img{
    display: none;
  }
  /* ============================================= */
  .footer__inner{
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: space-between;
    gap:40px
  }

  .footer__col-last{
    grid-column:1/-1;

    text-align: center;

  }

}

/* ======================= */
.hero__img-control--mobile{
  display: none;
}
/* ======================= */

@media (max-width:900px) {
  .header-nav{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--body-color);
    padding: 26vh 15px 30px;
    transition: var(--transition);
    transform: translateY(-50%);
  }


  /* =============================== */
  .accordion-list__control {
    padding: 30px 15px;
    font-size: 32px;
  }

  .accordion-list__item {  
    margin-bottom: 15px;
  }

  /* =============================== */
  
  .body--open-list .header-nav{
    visibility: visible;
    opacity: 1;

    transform: translateY(0%);
  }
  .nav__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-icon{
    display: block;
    z-index: 11;
  }

  /* =============================== */
  .gallery__top {
    grid-template-columns: none;
  
  }

  .gallery__image{
    display: none;
  }

  .gallery__info{
    flex-direction: column;
    gap:40px;
  }

  .gallery__text{
    max-width: none;
  }
  /* =============================== */

  /* =============================== */
  .testimonials__top {
    flex-direction: column;
    align-items: stretch;
    gap:40px;
    margin-bottom: 30px;
  }

  .testimonials__nav {
    align-self: end;
  }
  /* =============================== */
  .footer__inner{
    grid-template-columns:1fr;
    grid-template-rows:1fr;


    gap:0;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .footer__col-last{

    text-align: center;

  }

  .social-list {
    justify-content: center;
  }


}

@media(max-width:1100px){
  .about__img {
    grid-row: 1 / -1;
    grid-column-start: 1;
  }
  
  
  .about__content__item {
    padding: 20px 12px;
  }


  .about__content{
    grid-column: 1 / 4;
  }
}


@media (max-width:800px){
  html{
    scroll-padding-top: 50px;
  }
  .hero__inner{
    display: flex;
    flex-direction: column;
  }

  .hero__content{
    max-width: none;
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
  }
  .hero__img{
    display: none;
  }
  .hero__img-control--mobile{
    display: flex;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .hero__button--mobile{
    width: 100%;
  }
  /* ======================== */

  /* ======================== */
  .accordion-content {
    padding: 0 30px 20px;
    flex-direction: column;
  }
  /* ======================== */
  .about__content-grid {
    grid-template-columns:1fr;
    padding: 20px 0px;
    gap:15px;
  }

  .about__img{
    grid-column: 1 / 4;
  }

  .about-heading{
    align-self: center;
    text-align: center; 
    grid-column: 1 / 4;
  }



  /* ========================= */
  /* ========================= */
  .testimonials__scrollbar.swiper-scrollbar{
    width:50%;

    margin:0 auto;
    margin-top: 30px;
  }
  /* ========================= */

  .footer__col-list{
    margin:40px 0 40px 0;
  }

  .footer__contacts__list{
    margin-bottom: 10px;
  }
}

@media (max-width:600px){

  .header__hero{
    margin: 0;
  }
  .hero__title{
    font-size: 12vw;
  }

  .hero__text{
    max-width: none;
  }


  /* ===================== */
  .tab-controls__list {
    gap:16px;
    justify-content: center;
  }

  .accordion-list__control-icon{
    height:30px;
    width:30px;
  }
  /* ===================== */

  /* ====================== */
  .testimonials__student {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  
  /* ====================== */

  /* ====================== */

  
  .contact__inner::after,.contact__inner::after{
    display: none;
  }


  /* ====================== */
}

@media (max-width:400px){
  .about__img-control {
    max-width:none;
    border-radius: 0;
    padding: 15px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.modal {
  background: #00000048;
  position: fixed;
  top:0;
  inset: 0;
  z-index: 13;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition:all .6s;
}

.modal__window {
  background-color: var(--body-color);
  padding:0 5px 5px;
  max-width: 428px;

  position: relative;
}

.modal__cupcake {
  margin-top: -70px;
  margin-left:-100px;
  margin-bottom: 15px;
  max-width: 60%;
}

/* ========================= */
.tab-controls__link{
  padding:14px 15px;
}

.programm__action{
  grid-template-columns:none;
  grid-template-rows:repeat(4,1fr);
  
}
/* ========================= */

/* ========================= */
.testimonials__slide{
  padding:30px 30px 20px;
}
/* ========================= */

}