<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
  <title>Общие и полезные атрибуты - id, class, style</title>
  <style>
    .colors{
      display: flex;
      gap: 5%;
    }
    #style-block{
      width:300px;
      height:300px;
      border-image:linear-gradient(red, blue) 27 / 10px;
    }

    .color-red {
      background-color: #c54141;
    }
    .color-blue {
      background-color: #54c0ce;
    }
    .color-green {
      background-color: #3fca75;
    }



  </style>
  <main>
    <section class="colors">
      <div id="style-block" class="color-red"></div>
      <div id="style-block" class="color-blue"></div>
      <div id="style-block" class="color-green"></div>
    </section>
  </main>

</body>
</html>